@model dropdownlist
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Home Page";
}

<!-- Add a form with POST method that redirects to ShapeSelection action method of Home controller -->
<form method="post" action="@Url.Action("ShapeSelection", "Home")">
    <center> <h1><b>WELCOME TO NEWLY CONTRUCTED 3D PRINTER SOFTWARE PLATFORM</b> </h1></center>
    <div class="row">
        <div class="col-md-4">
            <h2>this is model view approach drop down list </h2>

           
            <h2>choose the shape that you prefer to select</h2>

            @Html.DropDownList("ID", Model._Shapelist as SelectList, "click here to select shape", new {@class ="form-control"})

            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br/>   <br/>   <br/>
        </div>

    </div>
</form>

<div class="form-group">
    <h2>this is model view approach user input text field</h2>
    @Html.LabelFor(model => model.textbox)
    <br/> <br/>
    @Html.TextBoxFor(model => model.textbox, new { @class = "form-control01" })

    <br/> <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
